footer{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    background-color: #03283dbe;
   
    font-size: 25px;
    font-weight:bold;
    font-family: DynaPuff;
    margin-top: 5%;
    color: black;
    padding: 14px;
    .logo{
        display: flex;
        border-style: double;
        width: 6vw;
        height: 5vw;
        background-color: #003c5f00; 
    }
    .icon{
        height: 3vw;
        width: 3vw;
    }
    .foot{
        padding: 10px;
        color: black;
    }

}